 @page
@model Emigrant.App.Frontend.Pages.FormPersonaModel
@{
}

 
 
<div class="text-center">
<form method=”POST”>
  
  <label for="nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
  <label for="apellidos" class="form-label">Apellidos:</label>
  <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos">
   <label for="tipo_documento" class="form-label">Tipo de Documento:</label>
  <input type="text" class="form-control" id="tipo_documento" name="tipo_documento" placeholder="tipo_documento">
  <label for="documento" class="form-label">Documento:</label>
  <input type="text"  id="documento" name="documento" placeholder="Documento">
  <label for="pais_origen" class="form-label">País de origen:</label>
  <input type="text" class="form-control" id="pais_origen" name="pais_origen" placeholder="País de Origen">
  <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento:</label>
    <input type="DateTime" class="form-control" id="fecha_nacimiento" name="" placeholder="Fecha de nacimiento">
  <label for="correo" class="form-label">Email:</label>
  <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo">
  <label for="telefono" class="form-label">Teléfono:</label>
  <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono">
  <label for="direccion" class="form-label">Dirección:</label>
  <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion">
  <label for="ciudad" class="form-label">Ciudad:</label>
  <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad">
 
  <hr>
<button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
