@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <div>
        <h3>Por favor, escoge tu rol</h3>
           <a href="/Entidad/Create">
           <button type="button" class="btn btn-primary btn-lg">Entidad</button></a>   
          
          <a href="/Persona/Create">
          <button type="button" class="btn btn-primary btn-lg">Persona</button></a></a>

          <a href="/Servicios/list">
          <button type="button" class="btn btn-primary btn-lg">Servicios</button></a></a>
    </div>
</div>
